@model IEnumerable<ProjectSubmission.Models.Submissions>

@{
    ViewData["Title"] = "Admin Page";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.submitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refTicket)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.submitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.refTicket)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
